
// NOTE: Any style in this file will affect all pages

@base: black;
@baseTransparent: #00000088;
@baseTransparentMore: #00000033;
@baseTransparentLess: #000000CC;
@baseContrast: white;
@baseContrastTransparent: #FFFFFF88;

@primary: #FFFF17;
@primaryTransparent: #FFFF1788;
@primaryTransparentMore: #FFFF1733;
@primaryTransparentLess: #FFFF17CC;
@primaryContrast: black;

@secondary: #FFD703;
@secondaryTransparent: #FFD70388;
@secondaryTransparentMore: #FFD70333;
@secondaryTransparentLess: #FFD703CC;
@secondaryContrast: black;

@hover: #FF5700; // #FF1717
@hoverContrast: white;

@selected: #FFA217;
@selectedTransparent: #FFA21788;
@selectedTransparentMore: #FFA21733;
@selectedTransparentLess: #FFA217CC;
@selectedContrast: white;

@success: #6FD100;
@successContrast: black;
@error: #F00; // #FF00B3
@errorContrast: white;
@warning: orange;
@warningContrast: black;

@import "theme";
