
@import "login-page";

#electrode-app {

  a { .front.primaryAndHover(); }

  .login-form-container {

    overflow: hidden;
    min-height: 0;
    background-color: rgba(255, 255, 255, 0.5);
    color: black;
    padding: 0;

    .login-form {

      max-height: 100%;
      overflow: auto;
      padding: 2em;
      display: block;

      .title {
        font-size: 150%;
        color: black;
        &.title-error { color: @error; }
      }

      .comment {
        font-size: 1.2em;
        .other-options-toggler {
          font-family: @basefont;
          .front.primaryAndHover();
          cursor: pointer;
        }
      }

      & > *:last-child {
        padding: 2em;
      }

    }

  }

}
