
@import "uify/styles/index";
@import "dialogify/styles/index";


#electrode-app {

  background-size: cover;
  background-position: center;
  background-image: url("/share/contributopia.jpg");

  .background_credits {
    position: absolute;
    bottom: 10px;
    left: 10px;
  }

}

// MAKE SURE TOAST MESSAGES ARE IN FRONT OF OVERLAY
.alertify-notifier {
  z-index: 99999;
}
